* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    min-height: 100vh;
  }
  
  .header {
    padding: 15px;
    text-align: center;
    background: #0c0c0c;
    color: white;
  }
  
  .navbar {
    display: flex;
    background-color: rgb(62, 61, 61);
  }

  .navbar input[type=text] {
    padding: 4px;
    margin: 4px;
    border: none;
    font-size: 16px;
  }

  .row {  
    display: flex;
    flex-wrap: wrap;
  }
  
  /* .side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
  }
   */
  .main {
    display: flex;
    background-color: white;
    padding: 20px;
  }

  .profile{
    width: 100%;
  }
  
  .footer {
    text-align: center;
    background: #0c0c0c;
    color: white;
    position: fixed;
    width: 100%;
    bottom:0;
    font-size:x-small;
  }

  div#results {
    padding: 0 0 0 20px;
    align-self: start;
    display: flex;
    flex-flow: row wrap;
    row-gap: 10px;
  }

  div#results>div{
    flex:18%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}
