.TodoItem{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    column-gap: 10px;
    border: 1px, solid, rgba(200,200,200,0.4);
    background-image: linear-gradient(to bottom right, rgba(185,185,185,0.4), rgba(112,112,112,0));
}

.TodoItem:hover{
    background-image: linear-gradient(to bottom right, rgba(120,120,120,0.4), rgba(112,112,112,0));
}

.TodoItem-id{
    padding-right: 20px;

}
.TodoItem-text{
    padding-right: 20px;
}

.TodoItem-status{
    padding-right: 25px;
    padding-left: 20px;
}

.TodoItem-button {
    font-size: 18pt;
    color: green;
    margin: 10px;
    cursor: pointer;
}

.TodoItem-button.danger{
    color: red;
}

.TodoItem-button.danger1{
    color:blueviolet;
}