* {
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
}

header {
  background-color: rgb(12, 53, 95);
  padding: 5px;
  text-align: center;
  font-size: 45px;
  font-style: italic;
  color: white;
  
}

nav{
  display: flex;
  background-color: #333;
}

nav a{
  color: aliceblue;
  text-decoration: none;
  text-align: center;
  padding: 15px 20px;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

#add{
  background-color: green;
}

h1{
  font-size: 25px;
}

h2{
  font-size: 15px;
}

main{
  display: flex;
}

.blogs{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}


article {
  display: flex;
  width: 20%;
  border: 2px solid rgb(123, 231, 16);
  border-radius: 10px;
  margin: 6px;
  padding: 15px;
  background-color: #f1f1f1;
}

.side{
  display: flex;
  flex: 25%;
}

.main{
  display: flex;
  flex: 65%;
}

footer {
  background-color: rgb(12, 53, 95);
  padding: 10px;
  text-align: center;
  color: white;
}
